files:
  "/opt/firebase-setup.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/bash

      DOCKER_IMAGE_TAG=$(/opt/elasticbeanstalk/bin/get-config environment -k DOCKER_IMAGE_TAG)
      sudo aws s3 cp s3://sirka-infra-bucket/firebase_creds/${DOCKER_IMAGE_TAG}-servicekey.json /opt/serviceKey.json

container_commands:
  set_up:
    command: /opt/firebase-setup.sh