files:  
  /etc/systemd/system/loki.service: 
    mode: "000644"
    owner: root
    group: root
    content: |
        [Unit]
        Description=Loki log aggregation system
        After=network.target

        [Service]
        User=root
        ExecStart=/opt/loki/loki -config.file=/opt/loki/loki-local-config.yaml

        [Install]
        WantedBy=multi-user.target
            
commands:
  01create_directory: 
    command: "sudo mkdir /opt/loki"
    cwd: /opt
  02get_the_latest_version:
    command: LOKI_VERSION=$(curl -s "https://api.github.com/repos/grafana/loki/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
  03download_loki: 
    command: "sudo wget -qO /opt/loki/loki.gz "https://github.com/grafana/loki/releases/download/v${LOKI_VERSION}/loki-linux-amd64.zip"
    cwd: /opt
  04install_gunzip: 
    command: "sudo apt install gzip"
    cwd: /opt
  05unzip_loki: 
    command: "sudo gunzip /opt/loki/loki.gz"
    cwd: /opt
  06chmod_loki_binary: 
    command: "sudo chmod a+x /opt/loki/loki"
  07simbolic_link: 
    command: "sudo ln -s /opt/loki/loki /usr/local/bin/loki"
  08download_configuration: 
    command: "sudo wget -qO /opt/loki/loki-local-config.yaml "https://raw.githubusercontent.com/grafana/loki/v${LOKI_VERSION}/cmd/loki/loki-local-config.yaml"
  10start_loki_service: 
    command: "sudo service loki start"
  11enable_loki_service: 
    command: "sudo systemctl enable loki"